<%= simple_form_for(post) do |f| %>
  <div class="field">
    <%= f.input :title, label: "Category ", autofocus: true %><br />     
    <%= f.form_for :hobby do |a|%>
		<%= f.input :content, label: "Description " %>
	<% end %>	
  </div>

  <div class="actions">
    <%= f.button :submit, "submit" %>
  </div>
<% end %>
