<p id="notice"><%= notice %></p>

<h1>Lists of Activities</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h3><%= post.title %></h3></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><h3><%= post.content %></h3></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= link_to 'Show', post %>&nbsp;</td>
        <td><%= link_to 'Edit', edit_post_path(post) %>&nbsp;</td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr><br/>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
