<p id="notice"><%= notice %></p>

<div>
  <strong>Category</strong>
  <%= @post.title %>
</div>

<div>
  <strong>Description</strong>
  <%= @post.content %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
