<!DOCTYPE html>
<html>
  <head>
    <title>Deviseapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <center
  	<div id="user_nav">
  	<% if user_signed_in? %>
    	Signed in as <%= current_user.email %>. Not you?
    	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  	<% end %>
	</div>
    <%= yield %>
    </center>
  </body>
</html>
